.user-preview {
 grid-auto-flow: column;
 place-items: start;
 place-content: start;
 cursor: pointer;
 .gradient-wrapper {
  background: $grad;
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: 0.1em;

  // what happens when the user has no story is
  &.disabled {
   background: $clr4;
  }
 }
 img {
  box-sizing: content-box;
  // border: 1px solid $grad;
  box-shadow: inset 0 0 1px 2px $clr1;
  padding: 2px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
 }

 // when the user-preview is in the app-nav
 &.nav {
  .gradient-wrapper {
   background: none;
  }
  img {
   box-sizing: content-box;
   border: none;

   height: 24px;
   width: 24px;
  }
  &:hover {
   transform: scale(1.1);
  }
 }

 // when the user-preview is in the story-list
 &.story {
  img {
   box-sizing: content-box;
   border: none;
   padding: 2px;
   height: 56px;
   width: 56px;
  }
 }
 // when the user-preview is in the user-area
 &.user-area {
  align-items: center;
  img {
   box-sizing: content-box;
   border: none;

   height: 84px;
   width: 84px;
  }
  .gradient-wrapper {
   padding: 0.2em;
  }
 }
 // when the user-preview is in the story-list
 &.story-on {
  background: none;
  img {
   box-sizing: content-box;
   border: none;
   padding: 2px;
   height: 32px;
   width: 32px;
  }
  .gradient-wrapper {
   background: none;
  }
 }
 // when the user-preview is in the search-results
 &.results {
  .user-info {
   margin-inline-start: 0.5em;

   p {
    padding: 0;
    margin: 0;
    font-size: 0.8em;
    font-weight: 600;
   }
  }
  &:not(:last-child) {
   margin-bottom: 0.5em;
  }
 }
 &.msg-preview {
  align-items: center;
  .full-name {
   font-weight: 600;
  }
  p {
   &.user-name {
    display: none;
   }
  }
  img {
   box-sizing: content-box;
   border: none;
   padding: 2px;
   height: 56px;
   width: 56px;
  }
  & > * {
   margin: 0.5rem;
  }
  @media (width< 800px) {
   justify-content: center;

   .user-info {
    display: none;
   }
  }
 }

 &.msg-details {
  gap: 1rem;
  img {
   box-sizing: content-box;
   border: none;
   padding: 2px;
   height: 24px;
   width: 24px;
  }
  .gradient-wrapper {
   background: none;
  }
  .user-info {
   :is(.user-name, .full-name) {
    display: none;
   }
  }
 }
}
