.user-preview {
 grid-auto-flow: column;
 place-items: start;
 place-content: start;
 img {
  box-sizing: content-box;
  border: 1px solid red;
  padding: 2px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
 }

 // when the user-preview is in the app-nav
 &.nav {
  img {
   box-sizing: content-box;
   border: none;
   padding: 2px;
   height: 24px;
   width: 24px;
   border-radius: 50%;
  }
  &:hover {
   transform: scale(1.1);
  }
 }
}
