.inbox-view {
 grid-auto-flow: column;
 max-width: 800px;
 margin: 0 auto;
 grid-template-columns: 80px 2fr;
 border: 1px solid $clr4;
 :is(.by-container, .main-container) {
  height: 84vh;
 }

 header {
  display: grid;
  place-items: center;
  border-block-end: 1px solid $clr4;
  height: 3rem;
 }
 .by-container {
  border-inline-end: 1px solid $clr4;
  .msg-preview {
   .last-msg-preview {
    color: darken($clr4, 30%);
    font-weight: 200;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
   }
   :hover {
    background: lighten($clr4, 5%);
   }
  }
 }
 .main-container {
  .no-msg-container {
   padding: 1rem;
   height: 100%;
   place-content: center;
   text-align: center;
   gap: 1rem;
   button {
    @include app-btn(7px, 16px);
    max-width: max-content;
    border-radius: $br;
    margin-inline: auto;
   }
  }
  .msg-container {
   grid-template-rows: min-content calc(84vh - 7rem) min-content;
   height: 100%;

   .router-container {
    .msg-details {
     height: 100%;
     overflow-y: auto;

     .msg-content {
      align-self: end;
      padding: 1rem;
      .msg {
       border: 1px solid $clr4;
       padding: 1rem;
       border-radius: 2em;
       word-break: break-all;
      }
     }
    }
   }
  }
  .new-msg {
   // background: lightseagreen;
   padding: 1em;
   form {
    position: relative;

    textarea[name="txt"] {
     border: 1px solid $clr4;
     border-radius: 2rem;
     padding: 0.5rem 1rem;
     width: 100%;
     resize: none;
     // border: none;
     font-family: inherit;
     &:focus {
      outline: transparent;
     }
    }

    button {
     position: absolute;
     right: 0.5em;
     border: none;
     background: none;
     color: $clr6;
     font-weight: bold;
     transform: translateY(50%);
     background: $clr1;
    }
   }
  }
 }
 @media (width> 800px) {
  margin: 1rem auto;
  grid-template-columns: minmax(80px, 200px) 2fr;
  :is(.by-container, .side-container) {
   height: calc(100vh - 2rem);
  }

  .main-container {
   .msg-container {
    grid-template-rows: min-content calc(84vh - 1rem) min-content;
    height: 100%;
   }
  }
 }
}
