.user-notification {
 h4 {
  margin: 1rem 0;
 }
 .notification-list {
  align-items: center;
  gap: 1em;
  .notification-preview {
   font-size: 0.8rem;
   grid-auto-flow: column;
   justify-content: start;
   grid-template-columns: min-content 1fr auto;
   gap: 5px;
   align-items: center;
   // background: lightcoral;
   width: 100%;
   :last-child {
    // background: lightgreen;
    justify-content: end;
   }

   .action {
    @include app-btn(0.5rem, 1rem);
    font-size: 0.8rem;
    border-radius: $br;
   }
  }
 }
}
