.user-area {
 &.grid {
  grid-template-rows: min-content 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
   "header"
   "dashboard"
   "post-list";

  header {
   margin-top: 1em;
   background: lightblue;
   grid-area: header;
  }

  .dashboard-container {
   background: lightgreen;
   grid-area: dashboard;
   height: 4rem;
  }
  .router-container {
   grid-area: post-list;
  }
 }
}
