@font-face {
 font-family: "Poppins-Regular";
 src: url("@/assets/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
 font-family: "Poppins-Light";
 src: url("@/assets/fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
 font-family: "Poppins-Medium";
 src: url("@/assets/fonts/Poppins/Poppins-Medium.ttf");
}
// @font-face {
//     font-family: Bahnschrift;
//     src: url(~@/assets/fonts/Bahnschrift/bahnschrift.ttf);
// }
// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto:wght@100;300;400;700&display=swap");
